bumpversion>=0.5.3

flake8
coverage>=4.0
pytest>=2.9.1
pytest-cov>=2.2.1
pytest-flask>=0.10.0
pytest-ordering
requests-mock
tox>=2.1.1
sphinxcontrib-napoleon
gunicorn>=0.19
gevent
ipython
yapf
pylint
pep8
ffctl
mypy
